In [ ]:
import pandas as pd

:

In [19]:
#warnings
import warnings
warnings.filterwarnings('ignore')

In [20]:
country_data

{'C': Empty DataFrame
 Columns: [Pais, Country, Unidad, Escala, 1990_001, 1990_002, 1990_003, 1990_004, 1990_005, 1990_006, 1990_007, 1990_008, 1990_009, 1990_010, 1990_011, 1990_012, 1991_001, 1991_002, 1991_003, 1991_004, 1991_005, 1991_006, 1991_007, 1991_008, 1991_009, 1991_010, 1991_011, 1991_012, 1992_001, 1992_002, 1992_003, 1992_004, 1992_005, 1992_006, 1992_007, 1992_008, 1992_009, 1992_010, 1992_011, 1992_012, 1993_001, 1993_002, 1993_003, 1993_004, 1993_005, 1993_006, 1993_007, 1993_008, 1993_009, 1993_010, 1993_011, 1993_012, 1994_001, 1994_002, 1994_003, 1994_004, 1994_005, 1994_006, 1994_007, 1994_008, 1994_009, 1994_010, 1994_011, 1994_012, 1995_001, 1995_002, 1995_003, 1995_004, 1995_005, 1995_006, 1995_007, 1995_008, 1995_009, 1995_010, 1995_011, 1995_012, 1996_001, 1996_002, 1996_003, 1996_004, 1996_005, 1996_006, 1996_007, 1996_008, 1996_009, 1996_010, 1996_011, 1996_012, 1997_001, 1997_002, 1997_003, 1997_004, 1997_005, 1997_006, 1997_007, 1997_008, 1997_009, 1997_010, 1997_011, 1997_012, ...]
 Index: []

 [0 rows x 409 columns],
 'I': Empty DataFrame
 Columns: [Pais, Country, Unidad, Escala, 1990_001, 1990_002, 1990_003, 1990_004, 1990_005, 1990_006, 1990_007, 1990_008, 1990_009, 1990_010, 1990_011, 1990_012, 1991_001, 1991_002, 1991_003, 1991_004, 1991_005, 1991_006, 1991_007, 1991_008, 1991_009, 1991_010, 1991_011, 1991_012, 1992_001, 1992_002, 1992_003, 1992_004, 1992_005, 1992_006, 1992_007, 1992_008, 1992_009, 1992_010, 1992_011, 1992_012, 1993_001, 1993_002, 1993_003, 1993_004, 1993_005, 1993_006, 1993_007, 1993_008, 1993_009, 1993_010, 1993_011, 1993_012, 1994_001, 1994_002, 1994_003, 1994_004, 1994_005, 1994_006, 1994_007, 1994_008, 1994_009, 1994_010, 1994_011, 1994_012, 1995_001, 1995_002, 1995_003, 1995_004, 1995_005, 1995_006, 1995_007, 1995_008, 1995_009, 1995_010, 1995_011, 1995_012, 1996_001, 1996_002, 1996_003, 1996_004, 1996_005, 1996_006, 1996_007, 1996_008, 1996_009, 1996_010, 1996_011, 1996_012, 1997_001, 1997_002, 1997_003, 1997_004, 1997_005, 1997_006, 1997_007, 1997_008, 1997_009, 1997_010, 1997_011, 1997_012, ...]
 Index: []

 [0 rows x 409 columns],
 '1': Empty DataFrame
 Columns: [Pais, Country, Unidad, Escala, 1990_001, 1990_002, 1990_003, 1990_004, 1990_005, 1990_006, 1990_007, 1990_008, 1990_009, 1990_010, 1990_011, 1990_012, 1991_001, 1991_002, 1991_003, 1991_004, 1991_005, 1991_006, 1991_007, 1991_008, 1991_009, 1991_010, 1991_011, 1991_012, 1992_001, 1992_002, 1992_003, 1992_004, 1992_005, 1992_006, 1992_007, 1992_008, 1992_009, 1992_010, 1992_011, 1992_012, 1993_001, 1993_002, 1993_003, 1993_004, 1993_005, 1993_006, 1993_007, 1993_008, 1993_009, 1993_010, 1993_011, 1993_012, 1994_001, 1994_002, 1994_003, 1994_004, 1994_005, 1994_006, 1994_007, 1994_008, 1994_009, 1994_010, 1994_011, 1994_012, 1995_001, 1995_002, 1995_003, 1995_004, 1995_005, 1995_006, 1995_007, 1995_008, 1995_009, 1995_010, 1995_011, 1995_012, 1996_001, 1996_002, 1996_003, 1996_004, 1996_005, 1996_006, 1996_007, 1996_008, 1996_009, 1996_010, 1996_011, 1996_012, 1997_001, 1997_002, 1997_003, 1997_004, 1997_005, 1997_006, 1997_007, 1997_008, 1997_009, 1997_010, 1997_011, 1997_012, ...]
 Index: []

 [0 rows x 409 columns],
 '2': Empty DataFrame
 Columns: [Pais, Country, Unidad, Escala, 1990_001, 1990_002, 1990_003, 1990_004, 1990_005, 1990_006, 1990_007, 1990_008, 1990_009, 1990_010, 1990_011, 1990_012, 1991_001, 1991_002, 1991_003, 1991_004, 1991_005, 1991_006, 1991_007, 1991_008, 1991_009, 1991_010, 1991_011, 1991_012, 1992_001, 1992_002, 1992_003, 1992_004, 1992_005, 1992_006, 1992_007, 1992_008, 1992_009, 1992_010, 1992_011, 1992_012, 1993_001, 1993_002, 1993_003, 1993_004, 1993_005, 1993_006, 1993_007, 1993_008, 1993_009, 1993_010, 1993_011, 1993_012, 1994_001, 1994_002, 1994_003, 1994_004, 1994_005, 1994_006, 1994_007, 1994_008, 1994_009, 1994_010, 1994_011, 1994_012, 1995_001, 1995_002, 1995_003, 1995_004, 1995_005, 1995_006, 1995_007, 1995_008, 1995_009, 1995_010, 1995_011, 1995_012, 1996_001, 1996_002, 1996_003, 1996_004, 1996_005, 1996_006, 1996_007, 1996_008, 1996_009, 1996_010, 1996_011, 1996_012, 1997_001, 1997_002, 1997_003, 1997_004, 1997_005, 1997_006, 1997_007, 1997_008, 1997_009, 1997_010, 1997_011, 1997_012, ...]
 Index: []

 [0 rows x 409 columns],
 '3': Empty DataFrame
 Columns: [Pais, Country, Unidad, Escala, 1990_001, 1990_002, 1990_003, 1990_004, 1990_005, 1990_006, 1990_007, 1990_008, 1990_009, 1990_010, 1990_011, 1990_012, 1991_001, 1991_002, 1991_003, 1991_004, 1991_005, 1991_006, 1991_007, 1991_008, 1991_009, 1991_010, 1991_011, 1991_012, 1992_001, 1992_002, 1992_003, 1992_004, 1992_005, 1992_006, 1992_007, 1992_008, 1992_009, 1992_010, 1992_011, 1992_012, 1993_001, 1993_002, 1993_003, 1993_004, 1993_005, 1993_006, 1993_007, 1993_008, 1993_009, 1993_010, 1993_011, 1993_012, 1994_001, 1994_002, 1994_003, 1994_004, 1994_005, 1994_006, 1994_007, 1994_008, 1994_009, 1994_010, 1994_011, 1994_012, 1995_001, 1995_002, 1995_003, 1995_004, 1995_005, 1995_006, 1995_007, 1995_008, 1995_009, 1995_010, 1995_011, 1995_012, 1996_001, 1996_002, 1996_003, 1996_004, 1996_005, 1996_006, 1996_007, 1996_008, 1996_009, 1996_010, 1996_011, 1996_012, 1997_001, 1997_002, 1997_003, 1997_004, 1997_005, 1997_006, 1997_007, 1997_008, 1997_009, 1997_010, 1997_011, 1997_012, ...]
 Index: []

 [0 rows x 409 columns],
 'P': Empty DataFrame
 Columns: [Pais, Country, Unidad, Escala, 1990_001, 1990_002, 1990_003, 1990_004, 1990_005, 1990_006, 1990_007, 1990_008, 1990_009, 1990_010, 1990_011, 1990_012, 1991_001, 1991_002, 1991_003, 1991_004, 1991_005, 1991_006, 1991_007, 1991_008, 1991_009, 1991_010, 1991_011, 1991_012, 1992_001, 1992_002, 1992_003, 1992_004, 1992_005, 1992_006, 1992_007, 1992_008, 1992_009, 1992_010, 1992_011, 1992_012, 1993_001, 1993_002, 1993_003, 1993_004, 1993_005, 1993_006, 1993_007, 1993_008, 1993_009, 1993_010, 1993_011, 1993_012, 1994_001, 1994_002, 1994_003, 1994_004, 1994_005, 1994_006, 1994_007, 1994_008, 1994_009, 1994_010, 1994_011, 1994_012, 1995_001, 1995_002, 1995_003, 1995_004, 1995_005, 1995_006, 1995_007, 1995_008, 1995_009, 1995_010, 1995_011, 1995_012, 1996_001, 1996_002, 1996_003, 1996_004, 1996_005, 1996_006, 1996_007, 1996_008, 1996_009, 1996_010, 1996_011, 1996_012, 1997_001, 1997_002, 1997_003, 1997_004, 1997_005, 1997_006, 1997_007, 1997_008, 1997_009, 1997_010, 1997_011, 1997_012, ...]
 Index: []

 [0 rows x 409 columns],
 'U': Empty DataFrame
 Columns: [Pais, Country, Unidad, Escala, 1990_001, 1990_002, 1990_003, 1990_004, 1990_005, 1990_006, 1990_007, 1990_008, 1990_009, 1990_010, 1990_011, 1990_012, 1991_001, 1991_002, 1991_003, 1991_004, 1991_005, 1991_006, 1991_007, 1991_008, 1991_009, 1991_010, 1991_011, 1991_012, 1992_001, 1992_002, 1992_003, 1992_004, 1992_005, 1992_006, 1992_007, 1992_008, 1992_009, 1992_010, 1992_011, 1992_012, 1993_001, 1993_002, 1993_003, 1993_004, 1993_005, 1993_006, 1993_007, 1993_008, 1993_009, 1993_010, 1993_011, 1993_012, 1994_001, 1994_002, 1994_003, 1994_004, 1994_005, 1994_006, 1994_007, 1994_008, 1994_009, 1994_010, 1994_011, 1994_012, 1995_001, 1995_002, 1995_003, 1995_004, 1995_005, 1995_006, 1995_007, 1995_008, 1995_009, 1995_010, 1995_011, 1995_012, 1996_001, 1996_002, 1996_003, 1996_004, 1996_005, 1996_006, 1996_007, 1996_008, 1996_009, 1996_010, 1996_011, 1996_012, 1997_001, 1997_002, 1997_003, 1997_004, 1997_005, 1997_006, 1997_007, 1997_008, 1997_009, 1997_010, 1997_011, 1997_012, ...]
 Index: []

 [0 rows x 409 columns],
 'E': Empty DataFrame
 Columns: [Pais, Country, Unidad, Escala, 1990_001, 1990_002, 1990_003, 1990_004, 1990_005, 1990_006, 1990_007, 1990_008, 1990_009, 1990_010, 1990_011, 1990_012, 1991_001, 1991_002, 1991_003, 1991_004, 1991_005, 1991_006, 1991_007, 1991_008, 1991_009, 1991_010, 1991_011, 1991_012, 1992_001, 1992_002, 1992_003, 1992_004, 1992_005, 1992_006, 1992_007, 1992_008, 1992_009, 1992_010, 1992_011, 1992_012, 1993_001, 1993_002, 1993_003, 1993_004, 1993_005, 1993_006, 1993_007, 1993_008, 1993_009, 1993_010, 1993_011, 1993_012, 1994_001, 1994_002, 1994_003, 1994_004, 1994_005, 1994_006, 1994_007, 1994_008, 1994_009, 1994_010, 1994_011, 1994_012, 1995_001, 1995_002, 1995_003, 1995_004, 1995_005, 1995_006, 1995_007, 1995_008, 1995_009, 1995_010, 1995_011, 1995_012, 1996_001, 1996_002, 1996_003, 1996_004, 1996_005, 1996_006, 1996_007, 1996_008, 1996_009, 1996_010, 1996_011, 1996_012, 1997_001, 1997_002, 1997_003, 1997_004, 1997_005, 1997_006, 1997_007, 1997_008, 1997_009, 1997_010, 1997_011, 1997_012, ...]
 Index: []

 [0 rows x 409 columns]}

In [43]:
FILE_NAME = r'C:\Users\tfarotimi\United Nations\Contexto Proyecciones Sector Externo - ProyectoAutomatización\Dev\Tope\dat\2023\September\Inflation_Data_Raw_092023.xlsx'' '

df = pd.read_excel(FILE_NAME, sheet_name='IPCg_m_via', header=5, nrows=57)

df= df.dropna(axis=1, how='all')

df.set_index('CCC', inplace=True)

SUR_data = {}
CEN_data = {}
CAR_data = {}
REG_data = {}
for row in df.index: 
    if df.loc[row, 'Cod3reg'] == 'SUR':
        SUR_data[row] = pd.DataFrame(columns=["Period", "YoY Inflation Increase"])
        
        for col in df.columns[14:]:
            SUR_data[row].loc[len(SUR_data[row])] = [col, df.loc[row, col]]

    elif df.loc[row, 'Cod3reg'] == 'CEN':
        CEN_data[row] = pd.DataFrame(columns=["Period", "YoY Inflation Increase"])

        for col in df.columns[14:]:
            CEN_data[row].loc[len(CEN_data[row])] = [col, df.loc[row, col]]

    elif df.loc[row, 'Cod3reg'] == 'CAR':
        CAR_data[row] = pd.DataFrame(columns=["Period", "YoY Inflation Increase"])

        for col in df.columns[14:]:
            CAR_data[row].loc[len(CAR_data[row])] = [col, df.loc[row, col]]
    else:
        if isinstance(df.loc[row,'Cod3reg'], str):
            REG_data[row] = pd.DataFrame(columns=["Period", "YoY Inflation Increase"])

            for col in df.columns[14:]:
                REG_data[row].loc[len(REG_data[row])] = [col, df.loc[row, col]]

            REG_data[row].set_index('Period', inplace = True)

            REG_data[row].index = pd.to_datetime(REG_data[row].index, format = '%Y_%j')

dict_keys(['ARG', 'BOL', 'BRA', 'CHL', 'COL', 'ECU', 'PRY', 'PER', 'URY', 'VEN'])
dict_keys(['CRI', 'CUB', 'SLV', 'GTM', 'HTI', 'HND', 'MEX', 'NIC', 'PAN', 'DOM'])
dict_keys(['ATG', 'BHS', 'BRB', 'BLZ', 'DMA', 'GRD', 'GUY', 'JAM', 'KNA', 'VCT', 'LCA', 'SUR', 'TTO'])
dict_keys(['R01', 'R02', 'R07', 'SUR10', 'CEN09', 'CEN10', 'CAR13'])

In [ ]:
create_forecast_report